src/.libs/libdoor.lai
src/.libs
src/dispfile.lo
src/doorsys.lo
src/input.lo
src/logger.lo
src/output.lo
src/parse.lo
src/timeout.lo
src/xmalloc.lo
FILE_ID.DIZ
INSTALL
Makefile.global
config.h
config.log
config.status
door.pc
src/dispfile.o
src/doorsys.o
src/input.o
src/libdoor.a
src/logger.o
src/output.o
src/parse.o
src/timeout.o
src/xmalloc.o
src/libdoor.la
